.s-1{
background-color:#151F4C;
}
.s-2{
background-color:#152A57;
}
.s-3{
background-color:#151F4C;
}
.s-4{
background-color:#023154;
}
.s-5{
background-color:#004159;
}
.s-6{
background-color:#00515E;
}
.s-7{
background-color:#005529;
}
.s-8{
background-color:#085524;
}
.s-9{
background-color:#28662B;
}
.s-10{
background-color:#4C6626;
}
.s-11{
background-color:#8E871C;
}
.s-12{
background-color:#905D1A;
}
.s-13{
background-color:#8E311C;
}
.s-14{
background-color:#8A121E;
}
.s-15{
background-color:#73112C;
}
.s-16{
background-color:#69124B;
}
.s-17{
background-color:#5B1A5C;
}
.s-18{
background-color:#2F1A51;
}
.s-19{
background-color:#232365;
}
.s-20{
background-color:#1D336A;
}
.s-21{
background-color:#212965;
}
.s-22{
background-color:#053F6F;
}
.s-23{
background-color:#005579;
}
.s-24{
background-color:#006579;
}
.s-25{
background-color:#00733B;
}
.s-26{
background-color:#156D33;
}
.s-27{
background-color:#32803A;
}
.s-28{
background-color:#567D2E;
}
.s-29{
background-color:#ACA822;
}
.s-30{
background-color:#AC7423;
}
.s-31{
background-color:#A83E20;
}
.s-32{
background-color:#A91922;
}
.s-33{
background-color:#941735;
}
.s-34{
background-color:#811A5A;
}
.s-35{
background-color:#712373;
}
.s-36{
background-color:#402268;
}
.s-37{
background-color:#2D2A79;
}
.s-38{
background-color:#253B7F;
}
.s-39{
background-color:#282E78;
}
.s-40{
background-color:#0E4D89;
}
.s-41{
background-color:#026695;
}
.s-42{
background-color:#0B809B;
}
.s-43{
background-color:#019151;
}
.s-44{
background-color:#158944;
}
.s-45{
background-color:#3D9647;
}
.s-46{
background-color:#6D9E43;
}
.s-47{
background-color:#C9C92A;
}
.s-48{
background-color:#C88A29;
}
.s-49{
background-color:#CA5027;
}
.s-50{
background-color:#C72027;
}
.s-51{
background-color:#AF1E3B;
}
.s-52{
background-color:#9F216A;
}
.s-53{
background-color:#872988;
}
.s-54{
background-color:#50297A;
}
.s-55{
background-color:#302D85;
}
.s-56{
background-color:#253E91;
}
.s-57{
background-color:#2B3287;
}
.s-58{
background-color:#0056A0;
}
.s-59{
background-color:#0172A8;
}
.s-60{
background-color:#038DAE;
}
.s-61{
background-color:#06A25C;
}
.s-62{
background-color:#139A49;
}
.s-63{
background-color:#42A647;
}
.s-64{
background-color:#7DB042;
}
.s-65{
background-color:#E6E317;
}
.s-66{
background-color:#E29A22;
}
.s-67{
background-color:#E35B25;
}
.s-68{
background-color:#E51F26;
}
.s-69{
background-color:#C81F44;
}
.s-70{
background-color:#B22073;
}
.s-71{
background-color:#952B8E;
}
.s-72{
background-color:#592C87;
}
.s-73{
background-color:#39308E;
}
.s-74{
background-color:#224399;
}
.s-75{
background-color:#2B3691;
}
.s-76{
background-color:#1560AB;
}
.s-77{
background-color:#087DBA;
}
.s-78{
background-color:#039DC3;
}
.s-79{
background-color:#20B167;
}
.s-80{
background-color:#15AB49;
}
.s-81{
background-color:#4AB549;
}
.s-82{
background-color:#88C441;
}
.s-83{
background-color:#F5E916;
}
.s-84{
background-color:#FAAA18;
}
.s-85{
background-color:#F17721;
}
.s-86{
background-color:#EA1E25;
}
.s-87{
background-color:#DF1B49;
}
.s-88{
background-color:#C11B7D;
}
.s-89{
background-color:#9E3893;
}
.s-90{
background-color:#612D8E;
}
.s-91{
background-color:#493F97;
}
.s-92{
background-color:#2F57A5;
}
.s-93{
background-color:#35459B;
}
.s-94{
background-color:#2575BB;
}
.s-95{
background-color:#218EC5;
}
.s-96{
background-color:#1EACCB;
}
.s-97{
background-color:#41B678;
}
.s-98{
background-color:#38B14A;
}
.s-99{
background-color:#6ABB46;
}
.s-100{
background-color:#9CC93B;
}
.s-101{
background-color:#F5E932;
}
.s-102{
background-color:#FBB729;
}
.s-103{
background-color:#F37B2D;
}
.s-104{
background-color:#ED3530;
}
.s-105{
background-color:#E62863;
}
.s-106{
background-color:#C9228A;
}
.s-107{
background-color:#A14396;
}
.s-108{
background-color:#723D96;
}
.s-109{
background-color:#5E50A0;
}
.s-110{
background-color:#476DB2;
}
.s-111{
background-color:#4B59A5;
}
.s-112{
background-color:#458AC8;
}
.s-113{
background-color:#43A2D0;
}
.s-114{
background-color:#48BBD4;
}
.s-115{
background-color:#6EC299;
}
.s-116{
background-color:#5DB947;
}
.s-117{
background-color:#80C351;
}
.s-118{
background-color:#ACD04F;
}
.s-119{
background-color:#F8EC5C;
}
.s-120{
background-color:#FDC657;
}
.s-121{
background-color:#F4915A;
}
.s-122{
background-color:#EE5959;
}
.s-123{
background-color:#E8507F;
}
.s-124{
background-color:#CA4F9C;
}
.s-125{
background-color:#A75FA1;
}
.s-126{
background-color:#7F4E9E;
}
.s-127{
background-color:#7B6AAF;
}
.s-128{
background-color:#7289C5;
}
.s-129{
background-color:#7289C5;
}
.s-130{
background-color:#6DA4D7;
}
.s-131{
background-color:#70B8D8;
}
.s-132{
background-color:#71CCDF;
}
.s-133{
background-color:#7BC7A3;
}
.s-134{
background-color:#5DB947;
}
.s-135{
background-color:#9ACC71;
}
.s-136{
background-color:#C0D976;
}
.s-137{
background-color:#F7F083;
}
.s-138{
background-color:#FDD37E;
}
.s-139{
background-color:#F7AD7F;
}
.s-140{
background-color:#F28084;
}
.s-141{
background-color:#EC779E;
}
.s-142{
background-color:#D876AD;
}
.s-143{
background-color:#AC70AD;
}
.s-144{
background-color:#986CAC;
}
.s-145{
background-color:#A593C5;
}
.s-146{
background-color:#99AED9;
}
.s-147{
background-color:#939ACC;
}
.s-148{
background-color:#95BFE5;
}
.s-149{
background-color:#9ACDE2;
}
.s-150{
background-color:#9ED9E9;
}
.s-151{
background-color:#9ED4BC;
}
.s-152{
background-color:#A4D196;
}
.s-153{
background-color:#DAEAC3;
}
.s-154{
background-color:#E6EBA1;
}
.s-155{
background-color:#FFE2A9;
}
.s-156{
background-color:#FAF3AB;
}
.s-157{
background-color:#FCD1A6;
}
.s-158{
background-color:#F5A4A8;
}
.s-159{
background-color:#F4A2BB;
}
.s-160{
background-color:#E69AC1;
}
.s-161{
background-color:#D69FC8;
}
.s-162{
background-color:#B995C5;
}
.s-163{
background-color:#B7A8DA;
}
.s-164{
background-color:#A8BDE6;
}
.s-165{
background-color:#A7B3E7;
}
.s-166{
background-color:#A5D3F5;
}
.s-167{
background-color:#A5E0F2;
}
.s-168{
background-color:#AAE8F4;
}
.s-169{
background-color:#B4E8CF;
}
.s-170{
background-color:#BAE5AC;
}
.s-171{
background-color:#ECF8D2;
}
.s-172{
background-color:#F6F6B2;
}
.s-173{
background-color:#FFF9CA;
}
.s-174{
background-color:#FFEDC3;
}
.s-175{
background-color:#FFDEBA;
}
.s-176{
background-color:#FFB6BD;
}
.s-177{
background-color:#FFBED5;
}
.s-178{
background-color:#F8B5DA;
}
.s-179{
background-color:#F0B7E3;
}
.s-180{
background-color:#C9A8D8;
}
.l-1 a, .l-2 a, .l-3 a, .l-5 a {
    text-decoration:none;
    color:white;
}
.l-1 a:hover, .l-2 a:hover, .l-3 a:hover, .l-5 a:hover {
    text-decoration:underline;
    color:#b3b3b5;
}
.l-1, .l-2, .l-3, .l-4 {
    text-align:center;
    color:white;
    display:inline-block;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}
.l-5 {
    text-align:left;
    box-sizing: border-box;
    padding-left:7%;
    color:white;
    display:inline-block;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    letter-spacing: 2px;
    font-size: 1.3em;
    z-index:100;
}
.l-1, .l-2, .l-3 {
    width:9.1%;
    margin: .3vh .9vw .3vh .9vw;
    z-index:100;
}
.l-4 {
    width:19.6%;
    margin: .3vh 1.2vw .3vh 1.2vw;
}
.l-5 {
    width:29.4%;
    margin: .3vh 1.8vw .3vh 1.8vw;
}
[class*="s-"] {
    display:inline-block;
    width:4.9%;
    height:9vh;
    text-align:center;
    margin: .3vw;
}
.t-1{
color:#E6E317;
}
.t-2{
color:#E29A22;
}
.t-3{
color:#E35B25;
}
.t-4{
color:#E51F26;
}
.t-5{
color:#C81F44;
}
.t-6{
color:#B22073;
}
.t-7{
color:#952B8E;
}
.t-8{
color:#592C87;
}
.t-9{
color:#39308E;
}
.t-10{
color:#224399;
}
.t-11{
color:#2B3691;
}
.t-12{
color:#1560AB;
}
.t-13{
color:#087DBA;
}
.t-14{
color:#039DC3;
}
.t-15{
color:#20B167;
}
.t-16{
color:#15AB49;
}
.t-17{
color:#4AB549;
}
.t-18{
color:#88C441;
}
.t-19{
color:#F5E916;
}
.t-20{
color:#FAAA18;
}
.t-21{
color:#F17721;
}
.t-22{
color:#EA1E25;
}
.t-23{
color:#DF1B49;
}
.t-24{
color:#C11B7D;
}
.t-25{
color:#9E3893;
}
.t-26{
color:#612D8E;
}
.t-27{
color:#493F97;
}
.t-28{
color:#2F57A5;
}
.t-29{
color:#35459B;
}
.t-30{
color:#2575BB;
}
.t-31{
color:#218EC5;
}
.t-32{
color:#1EACCB;
}
.t-33{
color:#41B678;
}
.t-34{
color:#38B14A;
}
.t-35{
color:#6ABB46;
}
.t-36{
color:#9CC93B;
}
.t-37{
color:#F5E932;
}
.t-38{
color:#FBB729;
}
.t-39{
color:#F37B2D;
}
.t-40{
color:#ED3530;
}
.t-41{
color:#E62863;
}
.t-42{
color:#C9228A;
}
.t-43{
color:#A14396;
}
.t-44{
color:#723D96;
}
.t-45{
color:#5E50A0;
}
.t-46{
color:#476DB2;
}
.t-47{
color:#4B59A5;
}
.t-48{
color:#458AC8;
}
.t-49{
color:#43A2D0;
}
.t-50{
color:#48BBD4;
}
.t-51{
color:#6EC299;
}
.t-52{
color:#5DB947;
}
.t-53{
color:#80C351;
}
.t-54{
color:#ACD04F;
}
.t-55{
color:#F8EC5C;
}
.t-56{
color:#FDC657;
}
.t-57{
color:#F4915A;
}
.t-58{
color:#EE5959;
}
.t-59{
color:#E8507F;
}
.t-60{
color:#CA4F9C;
}
.t-61{
color:#A75FA1;
}
.t-62{
color:#7F4E9E;
}
.t-63{
color:#7B6AAF;
}
.t-64{
color:#7289C5;
}
.t-65{
color:#7289C5;
}
.t-66{
color:#6DA4D7;
}
.t-67{
color:#70B8D8;
}
.t-68{
color:#71CCDF;
}
.t-69{
color:#7BC7A3;
}
.t-70{
color:#5DB947;
}
.t-71{
color:#9ACC71;
}
.t-72{
color:#C0D976;
}
.t-73{
color:#F7F083;
}
.t-74{
color:#FDD37E;
}
.t-75{
color:#F7AD7F;
}
.t-76{
color:#F28084;
}
.t-77{
color:#EC779E;
}
.t-78{
color:#D876AD;
}
.t-79{
color:#AC70AD;
}
.t-80{
color:#986CAC;
}
.t-81{
color:#A593C5;
}